<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/index/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="/css/meeting-rooms/in-meeting.css" rel="stylesheet">
    <script src="/js/meeting-rooms/in-meeting.js" defer></script>
    <title>회의 중...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center py-5">

        <div id="toast" class="toast hidden"></div>
        <div class="meeting-card-container">
            <div class="meeting-card">
                <h1>회의 시간</h1>

                <div id="time-display">--:--</div>

                <div class="booking-info">
                    <div class="booking-row">
                        <div class="booking-label">예약번호</div>
                        <div class="ticket-value" id="booking-no">4</div>
                    </div>
                    <div class="booking-row">
                        <div class="booking-label">예약자</div>
                        <div class="booking-value" id="booking-member">test</div>
                    </div>
                    <div class="booking-row">
                        <div class="booking-label">참석인원</div>
                        <div class="booking-value" id="attendees-count">5</div>
                    </div>
                </div>

                <div class="button-group">
                    <button class="extend-btn">회의 연장</button>
                    <button class="end-btn">회의 종료</button>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>