<!DOCTYPE html>
<html lang="ko" layout:decorate="@{/layout/index/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회의실 예약내역</title>
    <link rel="stylesheet" th:href="@{/css/meeting-rooms/meeting-room-bookings.css}">
    <script th:src="@{/js/meeting-rooms/meeting-room-bookings.js}" defer></script>
</head>
<body>
<div layout:fragment="content">
    <h1><span th:text="${roomName}"></span> 예약 현황</h1>

    <div class="booking-controls">
        <div class="form-group">
            <label for="sortField" class="form-label">정렬 기준</label>
            <select id="sortField" class="form-select">
                <option value="bookingDate">시작 시간</option>
                <option value="roomNo">회의실</option>
            </select>
        </div>

        <div class="form-group">
            <label for="sortDirection" class="form-label">정렬 순서</label>
            <select id="sortDirection" class="form-select">
                <option value="desc">내림차순</option>
                <option value="asc">오름차순</option>
            </select>
        </div>

        <div class="form-group">
            <label for="pageSizeSelect" class="form-label">페이지당 표시 개수</label>
            <select id="pageSizeSelect" class="form-select">
                <option value="10">10개</option>
                <option value="20">20개</option>
                <option value="50">50개</option>
                <option value="100">100개</option>
            </select>
        </div>
    </div>


    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>예약자</th>
            <th>예약 인원</th>
            <th>예약 시작 시간</th>
            <th>예약 종료 시간</th>
            <th>사용여부</th>
        </tr>
        </thead>
        <tbody class="history-container">
        </tbody>
    </table>
    <div id="pagination" class="pagination"></div>


    <!-- 모달 -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <span id="modal-close" class="modal-close">&times;</span>
            <h2>예약 코드 확인</h2>
            <input type="text" id="booking-code-input" placeholder="예약 코드를 입력하세요" />
            <button id="modal-submit">확인</button>
        </div>
    </div>

    <!-- 결과 메시지 -->
    <div id="message-box" class="message-box hidden"></div>

</div>
</body>
</html>
