/*실시간 출입자 시계 스타일*/
#clock {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.legend-box.scrollable-chart {
    overflow-x: auto;
    white-space: nowrap;
}

body.dark-theme tr:nth-child(even) {
    background-color: transparent !important;
}
