<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{/layout/index/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/table.css">
</head>
<body class="body-with-fixed-header">

<div class="container" layout:fragment="content">
    <div class="card">
        <h1 class="card-title">회원 목록</h1>
        <div class="card-body">
            <table id="member-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>Email</th>
                    <th>채팅</th>
                </tr>
                </thead>
                <tbody id="member-list-body">
                </tbody>
            </table>
        </div>
    </div>
    <script th:inline="javascript">
        const userEmail = /*[[${userEmail}]]*/ 'default-email@example.com';
    </script>
    <script src="/js/chat/users.js"></script>
</div>

</body>

</html>