<nav class="sidebar bg-dark text-white flex-shrink-0 p-3" style="width: 250px; min-height: 100vh;">
    <a href="/index" style="text-decoration: none; color: white">
        <h4 class="text-center py-3">
            대시보드 메뉴
        </h4>
    </a>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="sidebarDropdown2"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarDropdownMenu2"
                    aria-expanded="false"
            >
                근태 관리
            </a>
            <ul class="collapse list-unstyled ps-3" id="sidebarDropdownMenu2">
                <li><a href="/entry-charts" class="nav-link text-white">출입 현황</a></li>
                <li><a href="/working-hours-statistics" class="nav-link text-white">근무 시간 통계</a></li>
                <li><a href="/analysis" class="nav-link text-white">AI 기반 근태 관리</a></li>
            </ul>
        </li>

<!--        근태 관리 사이드바 추가-->

        <!--   회의실 메뉴   -->
        <li class="nav-item">
            <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="meetingRoom"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#meetingRoomMenu"
                aria-expanded="false"
            >
                회의실
            </a>
            <ul class="collapse list-unstyled ps-3" id="meetingRoomMenu">
                <li><a href="/meeting-rooms" class="nav-link text-white">예약 • 입실</a></li>
                <!-- 회의실 관리 하위 메뉴 -->
                <li>
                    <a
                            class="nav-link dropdown-toggle text-white"
                            href="#"
                            id="meetingRoomManage"
                            role="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#meetingRoomManageMenu"
                            aria-expanded="false"
                    >
                        회의실 관리
                    </a>
                    <ul class="collapse list-unstyled ps-3" id="meetingRoomManageMenu">
                        <li><a href="/admin/meeting-room/list" class="nav-link text-white">조회</a></li>
                        <li><a href="/admin/meeting-room/register" class="nav-link text-white">등록</a></li>
                        <li><a href="/admin/meeting-room/manage" class="nav-link text-white">변경 • 삭제</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--        근태 관리 사이드바 추가-->

        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="sidebarDropdown3"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarDropdownMenu3"
                    aria-expanded="false"
            >
                오피스 환경
            </a>
            <ul class="collapse list-unstyled ps-3" id="sidebarDropdownMenu3">
                <li><a href="/comfort-dashboard" class="nav-link text-white">환경 제어</a></li>
                <li><a href="/rule-group" class="nav-link text-white">IOT 서비스</a></li>
                <li><a href="/sensor" class="nav-link text-white">기기 관리</a> </li>
            </ul>
        </li>
        <!--        오피스 관리 사이드바 추가-->

        <!--   회의실 메뉴   -->
        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="meetingRoom"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#meetingRoomMenu"
                    aria-expanded="false"
            >
                회의실
            </a>
            <ul class="collapse list-unstyled ps-3" id="meetingRoomMenu">
                <li><a href="/meeting-rooms" class="nav-link text-white">입실하기</a></li>
                <li><a href="/booking" class="nav-link text-white">예약하기</a></li>
                <li><a href="/booking/history" class="nav-link text-white">예약 내역</a></li>
                <li><a href="/booking/statistics" class="nav-link text-white">전체 통계</a></li>
<!--                관리자-->
                <li><a href="/admin/booking" class="nav-link text-white">예약 현황</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle text-white"
               href="#"
               id="chat"
               role="button"
               data-bs-toggle="collapse"
               data-bs-target="#chatMenu"
               aria-expanded="false">
                Chat
<!--                {/* 안 읽은 메시지 수를 표시할 배지 (초기에는 숨김) */}-->
                <span class="badge bg-danger ms-1 unread-badge" style="display: none;"></span>
            </a>
            <ul class="collapse list-unstyled ps-3" id="chatMenu">
                <li><a href="/chatList" class="nav-link text-white">채팅 리스트</a></li>
                <li><a href="/users" class="nav-link text-white">회원 목록</a></li>
            </ul>
        </li>
        <li class="nav-item" id="notification-menu" style="display: none;">
            <a href="/notification" class="nav-link text-white">
                notification
                <span class="badge bg-danger ms-1 notification-unread-badge" style="display: none;"></span>
            </a>
        </li>

    </ul>

    <div id="custom-toast"></div>

    <!-- 유저 정보 -->
    <div class="mt-auto pt-3">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userName" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                사용자 이름
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sidebarUserDropdown">
                <li><a class="dropdown-item" href="/my-info">내 정보</a></li>
                <li><a class="dropdown-item" href="#">설정</a></li>
                <li><hr class="dropdown-divider"></li>
                <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="dropdown-item">로그아웃</button>
                </form>
            </ul>
        </div>
    </div>
</nav>