<nav class="sidebar bg-dark text-white flex-shrink-0 p-3" style="width: 250px; height: 100vh;">
    <a href="/index" style="text-decoration: none; color: white">
        <h4 class="text-center py-3">
            대시보드 메뉴
        </h4>
    </a>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="sidebarDropdown2"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarDropdownMenu2"
                    aria-expanded="false"
            >
                근태 관리
            </a>
            <ul class="collapse list-unstyled ps-3" id="sidebarDropdownMenu2">
                <li><a href="/weekly-entry-charts" class="nav-link text-white">주간 출입 현황</a></li>
                <li><a href="/real-time" class="nav-link text-white">실시간 출입 현황</a></li>
                <li><a href="/working-hours-statistics" class="nav-link text-white">근무 시간 통계</a></li>
                <li><a href="/analysis" class="nav-link text-white">AI 기반 근태 관리</a></li>
            </ul>
        </li>
<!--        근태 관리 사이드바 추가-->


        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="booking"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#bookingMenu"
                    aria-expanded="false"
            >
                예약
            </a>
            <ul class="collapse list-unstyled ps-3" id="bookingMenu">
                <li><a href="/booking" class="nav-link text-white">예약하기</a></li>
                <li><a href="/booking/history" class="nav-link text-white">예약 내역</a></li>
                <li><a href="/booking/statistics" class="nav-link text-white">통계</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="admin"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#adminMenu"
                    aria-expanded="false"
            >
                관리자
            </a>
            <ul class="collapse list-unstyled ps-3" id="adminMenu">
                <li><a href="/admin/booking" class="nav-link text-white">예약 현황</a></li>
                <li><a href="/admin/booking/statistics" class="nav-link text-white">전체 통계</a></li>
            </ul>
        </li>
        <li class="nav-item"><a href="/charts" class="nav-link text-white">Charts</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Tables</a></li>
        <li class="nav-item"><a href="/users" class="nav-link text-white">Users</a></li>
        <li class="nav-item">
            <a href="/chatList" class="nav-link text-white">
                ChatList
<!--                {/* 안 읽은 메시지 수를 표시할 배지 (초기에는 숨김) */}-->
                <span class="badge bg-danger ms-1 unread-badge" style="display: none;"></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/notification" class="nav-link text-white">
                notification
                <span class="badge bg-danger ms-1 notification-unread-badge" style="display: none;"></span>
            </a>
        </li>

    </ul>
    <!-- 유저 정보 -->
    <div class="mt-auto pt-3">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userName" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                사용자 이름
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sidebarUserDropdown">
                <li><a class="dropdown-item" href="#">내 정보</a></li>
                <li><a class="dropdown-item" href="#">설정</a></li>
                <li><hr class="dropdown-divider"></li>
                <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="dropdown-item">로그아웃</button>
                </form>
            </ul>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/chat/chatSideBar.js"></script>


</nav>