<nav class="sidebar bg-dark text-white flex-shrink-0 p-3" style="width: 250px; height: 100vh;">
    <a href="/index" style="text-decoration: none; color: white">
        <h4 class="text-center py-3">
            대시보드 메뉴
        </h4>
    </a>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="sidebarDropdown1"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarDropdownMenu1"
                    aria-expanded="false"
            >
                Dashboard
            </a>
            <ul class="collapse list-unstyled ps-3" id="sidebarDropdownMenu1">
                <li><a href="#" class="nav-link text-white">Analytics</a></li>
                <li><a href="#" class="nav-link text-white">eCommerce</a></li>
                <li><a href="#" class="nav-link text-white">Sales</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="sidebarDropdown2"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarDropdownMenu2"
                    aria-expanded="false"
            >
                UI Features
            </a>
            <ul class="collapse list-unstyled ps-3" id="sidebarDropdownMenu2">
                <li><a href="#" class="nav-link text-white">Basic UI Elements</a></li>
                <li><a href="#" class="nav-link text-white">Icons</a></li>
                <li><a href="#" class="nav-link text-white">Forms</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    id="booking"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#bookingMenu"
                    aria-expanded="false"
            >
                예약
            </a>
            <ul class="collapse list-unstyled ps-3" id="bookingMenu">
                <li><a href="book" class="nav-link text-white">예약하기</a></li>
                <li><a href="/book/history" class="nav-link text-white">예약 내역</a></li>
                <li><a href="#" class="nav-link text-white">Icons</a></li>
                <li><a href="#" class="nav-link text-white">Forms</a></li>
            </ul>
        </li>
        <li class="nav-item"><a href="charts" class="nav-link text-white">Charts</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-white">Tables</a></li>
    </ul>
    <!-- 유저 정보 -->
    <div class="mt-auto pt-3">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userName" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                사용자 이름
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sidebarUserDropdown">
                <li><a class="dropdown-item" href="#">내 정보</a></li>
                <li><a class="dropdown-item" href="#">설정</a></li>
                <li><hr class="dropdown-divider"></li>
                <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="dropdown-item">로그아웃</button>
                </form>
            </ul>
        </div>
    </div>
</nav>