<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{/layout/index/layout.html}">

<head>
    <meta charset="UTF-8">
    <link href="/css/booking/history.css" rel="stylesheet">
    <script src="/js/booking/api.js"></script>
    <script src="/js/booking/format.js"></script>
    <script src="/js/booking/history.js" defer></script>
    <title>회의실 예약 내역</title>
</head>
<body>

<div layout:fragment="content">

    <h1>회의실 예약 내역</h1>

    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>예약자</th>
            <th>회의실 이름</th>
            <th>예약 인원</th>
            <th>예약 코드</th>
            <th>예약 시작 시간</th>
            <th>예약 종료 시간</th>
            <th>특이사항</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody class="history-container">
        </tbody>
    </table>
    <div id="pagination" class="pagination"></div>
</div>

</body>
</html>
