<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/index/layout.html}">

<head>
    <meta charset="UTF-8">
    <link href="/css/booking/book.css" rel="stylesheet">
    <script src="/js/booking/api.js"></script>
    <script src="/js/booking/utils/format.js"></script>
    <script src="/js/booking/book.js" defer></script>
<!--    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.17/index.global.min.js' defer></script>-->
<!--    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js' defer></script>-->
    <title>회의실 예약</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="rooms">
            </div>

            <div class="info-container">
                <div class="calendar">
                    <h2 id="selectedRoom">회의실 예약</h2>
                    <div id="calendarContent">
                        <div id='calendar'></div>
                    </div>
                </div>

                <div class="time-container">
                    <div class="section-title">오전</div>
                    <div class="time-grid">
                        <button class="time-slot" onclick="selectTime(this)">09:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">09:30</button>-->
                        <button class="time-slot" onclick="selectTime(this)">10:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">10:30</button>-->
                        <button class="time-slot" onclick="selectTime(this)">11:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">11:30</button>-->
                    </div>

                    <div class="section-title">오후</div>
                    <div class="time-grid">
                        <button class="time-slot" onclick="selectTime(this)">12:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">12:30</button>-->
                        <button class="time-slot" onclick="selectTime(this)">01:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">01:30</button>-->
                        <button class="time-slot" onclick="selectTime(this)">02:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">02:30</button>-->
                        <button class="time-slot" onclick="selectTime(this)">03:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">03:30</button>-->
                        <button class="time-slot" onclick="selectTime(this)">04:00</button>
<!--                        <button class="time-slot" onclick="selectTime(this)">04:30</button>-->
                        <button class="time-slot" onclick="selectTime(this)">05:00</button>
                    </div>
                </div>
                <div class="reservation-form">
                    <label for="attendees">예약 인원</label>
                    <input type="number" id="attendees" name="attendees" min="1" placeholder="인원 수를 입력하세요">
                    <div class="reservation-action">
                        <p>예약 시간이 10분이 지나도 미입실시 예약이 취소 됩니다.</p>
                        <button id="reserveBtn">예약하기</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>